body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e0fefe;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-form {
    background-color:  rgb(140, 228, 246);;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
    text-align: center;
}

.signup-form label {
    display: block;
    margin: 10px 0 5px;
}

.signup-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.signup-form button {
    background-color: #6762e2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.login-link {
    margin-top: 15px;
    text-align: center;
}

.login-link a {
    color: #6762e2;
    text-decoration: none;
}
